/* default  */
.text-center {
  text-align: center;
}

.text-purple {
  color: #66668a;
  font-weight: 700;
  font-size: 18px;
}

.ml-20 {
  margin-left: 20px;
}

.pt-100 {
  padding-top: 100px;
}
.mt-100{
  margin-top: 100px;
}

.mt-150 {
  margin-top: 150px;
  margin-bottom: 150px;
}
.mt-60 {
  margin-top: 60px;
}


/* nav  */
nav {
  height: 80px;
  margin-top: 20px;
}

.nav-list {
  font-size: 20px;
  font-weight: 650;
}

.i-m {
  margin-top: 12px;
}

.nav-list:hover {
  color: #a4a1ff;
}

.btn-purple {
  background-color: #b0adfe;
  padding: 12px 30px;
  font-size: 16px;
  box-shadow: -1px 2px 6px 2px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
}

.btn-purple:hover {
  background-color: #908cfb;
  ;
  transition: 0.5s;
}

/* section-1 */
.gradent{
  font-size: 72px;
  background: -webkit-linear-gradient( rgb(9, 11, 24), rgb(203, 196, 251));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}


.gradient-text {
   background-image: linear-gradient(  133deg,#000000 28%, #b0adfe 30%,#b0adfe 73%, #000000 73% );
  
  
  /* Use the text as a mask for the background. */
  /* This will show the gradient as a text color rather than element bg. */
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; 
  
  /* Animate the text when loading the element. */
    /* This animates it on page load and when hovering out. */
    animation: rainbow-text-simple-animation-rev 0.75s ease forwards;

}




.start-btn {
  background-color: #ddddff;
  font-weight: 650;
  padding: 12px 27px;
  color: #a4a1ff;
  margin-top: 200px;
  border-radius: 50px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.font-60 {
  font-size: 60px;
}

.font-50 {
  font-size: 50px;
}

/* section-2  */
.pinl-dot {
  background-color: rgb(255, 55, 119);
  padding: 13px;
  height: 20px;
  border-radius: 50px;
  margin-right: 10px;

}

.purple-dot {
  background-color: rgb(145, 45, 238);
  padding: 13px;
  height: 20px;
  border-radius: 50px;
  margin-right: 10px;
}

.bg-purple {
  background-color: #faf6ff;
  border-radius: 15px;
  box-shadow: 7px 12px 20px 0px rgba(174, 171, 171, 0.4);
  padding: 20px;
  margin: 30px 180px;
}

.ceo {
  width: 80px;
  height: 100px;
  padding: 10px 0;
  border-radius: 50%;
}

.ceo-box {
  background-color: #b8b0dd;
  border-radius: 15px;
  height: 400px;
}

.white-line1 {
  background-color: rgb(243, 231, 255);
  padding: 10px;
  border-radius: 50px;
  margin-right: 10px;
  width: 320px;
}

.white-line2 {
  background-color: rgb(243, 231, 255);
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 50px;
  margin-right: 10px;
  width: 100px;
}

.white-line3 {
  background-color: rgb(243, 231, 255);
  padding: 10px;
  border-radius: 50px;
  margin-right: 10px;
  width: 160px;
}

.white-line4 {
  background-color: rgb(243, 231, 255);
  padding: 10px;
  border-radius: 50px;
  margin-left: 10px;
  margin-right: 10px;
  width: 100px;
}

.white-line5 {
  background-color: rgb(243, 231, 255);
  padding: 10px;
  border-radius: 50px;
  margin-left: 10px;
  width: 140px;
}

.white-line6 {
  background-color: rgb(243, 231, 255);
  padding: 10px;
  border-radius: 50px;
  margin-right: 10px;
  width: 210px;
}

.web-page {
  width: 650px;
  border-radius: 0 20px 20px 0;
  margin-top: -370px;
  box-shadow: 7px 12px 20px 0px rgba(174, 171, 171, 0.4);
}

.bg-clr-purple {
  background-color: #d8d6ff;
}

.mac {
  font-weight: 650;
  padding: 10px 15px;
  font-size: 18px;
  color: #b0adfe;
  border: 3px solid #b0adfe;
  border-radius: 50px;
}

.mr-10 {
  margin-right: 10px;
}

.font-25 {
  font-size: 25px;
}

.font-22 {
  font-size: 22px;
}
.footer-data{
  color: #98989e;
  font-weight: 500;
  font-size: 13px;
}
.footer-data:hover{
  color: #c93737;
transition: 0.5s;
}
.cranbery{
  color: #98989e;
  font-weight: 500;
  font-size: 18px;
}
.bg-f{
  background-color: #f5edff;
  padding: 15px;
}